<div class="content_box">
	<h2>Lorem ipsum</h2>
	<p>Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect.</p>
	<ul>
		<li>Html input via a rich text editor</li>
		<li>Html input via a rich text editor</li>
		<li>Html input via a rich text editor</li>
	</ul>
</div>