<div class="social_media_wrapper">
    <h4>Connect with us</h4>
    <ul class="social_media">
        <li><a href="#"><i id="#" aria-hidden="true" class="icon-youku"></i></a></li>
        <li><a href="#"><i id="#" aria-hidden="true" class="icon-wechat"></i></a></li>
        <li><a href="#"><i id="#" aria-hidden="true" class="icon-weibo"></i></a></li>
        <li><a href="#"><i id="#" aria-hidden="true" class="icon-linkedin"></i></a></li>
    </ul>
</div>