// brand colours
$main_text_colour:          #32363f !default;
$main_brand_colour:         #B61A29 !default;

// cta
$cta_background_colour:     #32363f !default;
$cta_colour:                $main_brand_colour !default;
$cta_text_colour:           #ffffff !default;
$cta_border-radius:         0 !default;

// header
$header_background_colour:  #32363f !default;

// logo
$logo_width:                200px !default;
$logo_margin:				7px 0 15px 0 !default;

// section
$section_two_bg_colour:     #E0DED8 !default;

// widget
$widget_background_colour:	$section_two_bg_colour !default;
$widget_text_colour:		$main_text_colour !default;
$widget_cta_colour:         $main_brand_colour !default;
$widget_cta_text_colour:    #ffffff !default;

// footer
$footer_background_colour:  $main_brand_colour !default;
$footer_text_colour:        #ffffff !default;
$social_media_colour:       #ffffff !default;