<!-- HEADER START -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">  
                {% include "components/button_group" %}
                {% include "components/logo" %}
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->