<!DOCTYPE html>
<html mip>
<head>
    <meta charset="UTF-8">
    <title>Mobile Instant Page</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="title" content="Mobile Instant Page 2" />
    <meta name="description" content="Mobile Instant Page 2" />
    <meta name="keywords" content="Mobile Instant Page 2" />
    <meta name="robots" context="noindex, nofollow, mainform form" />
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
    <!-- the styles below get written inline on live pages --> 
	<link href="css/mip_global_grid.css" media="all" rel="stylesheet" />
	<link href="https://rawgit.com/gbunce-studygroup/University_website_framework/master/landing_pages/MIP_landing_page/html/css/mip_brand_style.css" media="all" rel="stylesheet" />
</head>
<body>
    <div id="pageBody">